@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

body {
  background-color: black;
  font-family: 'Ubuntu Condensed', sans-serif;
}

p {
  font-size: 16px; 
}

.site-heading {
 font-size: 56px;
 color: white;
}
.metronome {
  height: 550px;
  width: 550px; 
  background-color: black; 
  margin-top: 80px; 
  margin-left: auto;
  margin-right: auto;
}

.beatbox {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  background-color: yellow;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

#playbuttons {
  width: 75px; 
  margin-left: auto;
  margin-right: auto;
}

.console {
  padding: 20px;
  height: 450px;
  width: 440px;
  border-radius: 20px;
  border-style: solid;
  border-width: 20px;
  border-top-color: #4d4d4d;
  border-right-color: #5d5d5d;
  border-bottom-color: #4d4d4d;
  border-left-color: #5d5d5d;
  background-color: gray;
  margin-left: auto;
  margin-right: auto
}

.lower-console {
  margin-top: 20px;
  height: 150px;
  width: 410px; 
}

.tempo {
  height: 150px;
  width: 180px; 
  border-radius: 5px; 
  float: left;
}

.bpm_box {
  width: 90px; 
  float: left;
}

.meterview {
  padding-top: 45px;
  width: 88px; 
  float: left; 
}
#playbuttons {
  margin-top: 10px;
}

#slower {
  margin-right: 10px; 
}

#lessMeter {
  margin-right: 10px;
}
.meterbox {
  padding-right: 20px;
  height: 150px;
  width: 190px;
  float: left;
}

#slider { 
  width: 150px;
  margin-left: 15px;
  margin-top: 20px; 
}
